@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto';
  font-size: 20px;

}

span {
  color: rgb(0, 0, 0);
}


input {
  font-size: 18px;
}



